.tbcv-votes {
	margin-bottom: 10px;
}

.tbcv-votes >:first-child {
	margin-right: 5px;
}

.tb-comment-vote {
	border-bottom: 0 !important;
}

.tb-comment-vote span {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin-right: 4px;
	color: #777777;
}

.tb-comment-vote:hover,
.tb-comment-vote:focus {
	text-decoration: none;
	outline: 0;
}

.tb-comment-vote i {
	font-size: 16px;
	position: relative;
	top: -2px;
}

.tb-vote-up i { color: #388e0a; }
.tb-vote-down i { color: #bf221f; }